h1{
    color:blue;
}
 #para1{

        color:yellow;
    }
 #para2{
            color:brown;
            border-style: solid;
            border-radius: 20px;
            border-color: aqua;
            background-color:purple;
            border-top-style:dotted;
    
 .one{
    font-style:italic;
    font-size
    color:blanchedalmond;
    background-color:black
}
        

    