<!DOCTYPE html><!
<html>
  <body{
background-color:grey;

}
.top-div{
    margin:auto;
    text-align:center ;
    border:2px solid green;
}
.title{
    font-size:50px;
}
.credentials{
    padding:10px;
    font-size:20px;

}
#username-input{
    margin-bottom
}
-#sign-in-bottom{
    margin
}
.rounded-image{
    width:100px;
    height:100px;
    border-radius:50%;

}