



.sidebar{
    background-color:black;
    color:white;
    width:150px;
    height:100%;
    position:fixed;
    padding-top:100px;
    top:0;
    bottom:0;



}
.sidebar ul{
    list-style:none;
    margin:10px;
    padding:20px;
}
li{
    padding:10px 10px;
    font-family:'Courier New', Courier, monospace;
    font-size:16px;
    padding:10px 20px;
}
a{
    text-decoration:none;
    color:white;
}
a:hover{
    background-color:red;
    color:blue;
}
.rounded-image{
    width:100px;
    height:100px;
    border-radius:50%;
    overflow-y:none;

}
.my_name{
    margin-right: 10px;
    font-size: 40px;
}



.introduction{
    margin-left:350px;

}
.introduction-text{
    font-size: 25px;

}
.contact-me{
    color:black;
    text-align:left end;
    
    padding: 10px;
    font-size: 20px;
}
.contact-me a{
    
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    background-color: black;

}
.contact-me a:hover{
    background-color: white;
    color:black;
    transition-delay: 200ms ease-in-out;
}
.read-more{
    color:white;
    font-size:25px;



}
.contactss{
    border: solid black 4px;
    color: black;
    text-align: center;
    font-size: 25px;
     border-radius: 5px;
     background-color: grey;
     margin:auto;
     width:600px;
     height:auto;
     padding: 20px;
}

